/* Default for all css styles 
html, body, div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
*/

.main-background {
    height: 20%;
    background-image: linear-gradient(rgba(48, 48, 48, 0.5), rgba(50, 0, 0, 0.5)), url("https://static-cdn.eleague.com/2017-11/EL_studio_story_A.jpg");
    /* Background Image Formatting */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    /* Center Contents inside Hero */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 7vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px #000;
}
#teams {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#imgTag {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 10%;
  height: 10%;
}
#vs {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 7.5%;
  height: 7.5%;
}

#vs-text {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 10%;
    height: 10%;
}

.scoreboard {
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0px 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  /* border: 3px solid black; */
  display: inline;
  /*width: fit-content;
  margin: 0 auto !important;
  */
}

.score {
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0px 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    /* border: 3px solid black; */
    display: inline;
    /*width: fit-content;
    margin: 0 auto !important;
    */
}

#card {
    color: white;
    margin: 0px 10px;
    padding-bottom: 1em;
    background-image: url("../images/esports.png");
}

/* KAYHAN'S EXPERIMENTS */

#bet {
    font-size: 1.5vw;
}


/* Dropdown menu code */
/* The only error was that we couldn't place the button to the right. 
If someone can figure that out, that would be great. */

.dropbtn {
    background-color: rgba(158, 158, 158, 0.5);
    color: black;
    padding: 1vw 20px;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    /* if someone can make the button thinner/look nicer, that'd 
    be a good fix. */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1vw;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #006eff}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover { /*changes the button drop-down when hover*/
    background-color: #000000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#bet-number {
    /* Please someone manage to push this to the right of the button */
    font-size: 1.00vw;
}

#bet-amount {
 
}
/* dropdown menu code end */
 
/* KAYHAN'S EXPERIMENT ENDS */

.card-container {
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

/* start of bet button style */
$green: #1ECD97;
$gray: #bbbbbb;
* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 40px;
  text-align: center;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #1ECD97;
}
button:active {
  letter-spacing: 2px;
}
button:after {
  content: "BET";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
  font-family: "FontAwesome";
  content: "";
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* end of bet button style */